.light{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.active{
    box-shadow: 0px -1px 30px 12px rgba(232,227,232,1);
}
.poste{
    height: 200px;
    width: 10px;
    background-color: black;
}